.login-modal{
  position: absolute;
  border: 1px solid black;
  border-radius: 5px;
  width: 75%;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%,-50%);
  background: white;
}

.red{
  border-color: red;
}

.background{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: grey;
  top: 0vh;
}
