<h1>{{dash.greeting}} {{dash.data.name}}</h1>

<h3>Wedding Season</h3>
<h5>{{dash.data.questions[0].season}}</h5>
<h3>Wedding Style</h3>
<h5>{{dash.data.questions[0].style}}</h5>
<h3>Wedding Flowers</h3>
<!-- <h5>{{dash.data.questions[0].flowers}}</h5> -->
<h5 ng-repeat='flowers in dash.data.questions[0].flowers'>{{flowers}}</h5>
<h3>Wedding Colors</h3>
<!-- <h5>{{dash.data.questions[0].colors}}</h5> -->
<h5 ng-repeat='colors in dash.data.questions[0].colors'>{{colors}}</h5>

<!--<h1>{{dash.designs}}</h1>-->
<div ng-repeat='designs in dash.designs | filter:dash.data.questions[0].season' >
<!--<h1>{{designs.image}}</h1>-->
<img src="{{designs.image}}" alt="" class="designImages">
</div>

<input type="text" ng-model="dash.search">
<div ng-repeat='designs in dash.designs | filter:dash.search' >
<!--<h1>{{designs.image}}</h1>-->
<img src="{{designs.image}}" alt="" class="designImages">{{designs.season}},{{designs.style}}
</div>